<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>POST</key>
	<dict>
		<key>registeruser</key>
		<dict>
			<key>responseError</key>
			<false/>
		</dict>
		<key>confirmregistration</key>
		<dict>
			<key>responseError</key>
			<false/>
		</dict>
		<key>login</key>
		<dict>
			<key>responseError</key>
			<false/>
		</dict>
		<key>facebooklogin</key>
		<dict>
			<key>responseError</key>
			<false/>
		</dict>
		<key>addtopic</key>
		<dict>
			<key>responseWithError</key>
			<false/>
			<key>parameters</key>
			<dict>
				<key>AuthorID</key>
				<string></string>
				<key>Title</key>
				<string></string>
				<key>Round</key>
				<dict>
					<key>Options</key>
					<array/>
					<key>ExpirationDate</key>
					<integer>0</integer>
					<key>PassPercent</key>
					<integer>0</integer>
				</dict>
				<key>Participants</key>
				<array/>
			</dict>
			<key>response</key>
			<string>addtopic</string>
		</dict>
		<key>addemail</key>
		<dict>
			<key>responseWithError</key>
			<false/>
		</dict>
		<key>deleteemail</key>
		<dict>
			<key>responseWithError</key>
			<false/>
		</dict>
		<key>changepassword</key>
		<dict>
			<key>responseWithError</key>
			<false/>
		</dict>
		<key>activeemail</key>
		<dict>
			<key>responseWithError</key>
			<false/>
		</dict>
		<key>changeusername</key>
		<dict>
			<key>responseWithError</key>
			<false/>
		</dict>
		<key>confirmemail</key>
		<dict>
			<key>responseWithError</key>
			<false/>
		</dict>
		<key>addsocial</key>
		<dict>
			<key>responseWithError</key>
			<false/>
		</dict>
		<key>deletesocial</key>
		<dict>
			<key>responseWithError</key>
			<false/>
		</dict>
	</dict>
	<key>GET</key>
	<dict>
		<key>list</key>
		<dict>
			<key>responseError</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
